@use '../../global/' as g;

.p-login {
    &__logo {
        text-align: center;

        &__img {
            display: block;
            width: g.$width-parts-huge;
            margin: 0 auto;
        }

        &__text {
            margin-top: g.$margin-y;
            font-size: g.$font-size-logo-main;
        }
    }

    &__form {
        margin-top: g.$margin-section-y;

        &__email {
            &__input {
                display: block;
                width: 100%;
                margin-top: g.$margin-label-y;
            }

            &__error {
                margin-top: g.$margin-y;
            }
        }

        &__password {
            margin-top: g.$margin-section-small-y;

            &__input {
                display: block;
                width: 100%;
                margin-top: g.$margin-label-y;
            }

            &__error {
                margin-top: g.$margin-y;
            }
        }

        &__remember-me {
            display: inline-block;
            margin-top: g.$margin-section-y;

            &__label {
                display: flex;
                align-items: center;

                &__text {
                    margin-left: g.$margin-label-x;
                }
            }
        }

        &__submit {
            display: flex;
            justify-content: end;
            align-items: center;
            margin-top: g.$margin-section-y;

            &__login {
                margin-left: g.$margin-x;
            }
        }
    }
}
