$color-text: #333333;
$color-text-reversal: #FFFFFF;
$color-text-link: #0000FF;
$color-text-caution: #FF0000;
$color-text-message: #009900;
$color-text-error-message: #FF0000;
$color-text-noto: rgba(0, 0, 0, .5);

$color-button: #FF8000;
$color-button-reversal: #FFFFFF;
$color-button-caution: #FF0000;

$color-parts-selected: #FFFFFF;

$color-border:#D1D5DB;
$color-border-nav: #D79B00;
$color-border-message: #82B366;
$color-border-error-message: #B85450;

$color-background: #FFFFFF;
$color-background-nav: #FFE6CC;
$color-background-blank: #F5F5F5;
$color-background-message: #D5E8D4;
$color-background-error-message: #F8CECC;
$color-background-unable: rgba(107,114,128, .75);
$color-background-parts-selected: #4b4b4b;
