$padding-layout-x: 16px;
$padding-layout-y: 8px;

$padding-wrapper-x: 16px;
$padding-wrapper-y: 24px;

$padding-button-x: 16px;
$padding-button-y: 8px;

$padding-modal-x: 16px;
$padding-modal-y: 16px;

$padding-input-x: 10.5px;
$padding-input-y: 7px;
