$max-width: 500px;
$min-width: 360px;

$width-parts: 20px;
$width-parts-big: 32px;
$width-parts-huge: 160px;

$width-icon: 32px;
$width-icon-big: 64px;
$width-icon-huge: 128px;

$width-photo: 128px;

$width-pc: 1024px;
