@use '../../../global/' as g;

.p-user-update-password {
    &__description {
        margin-top: g.$margin-label-y;
        font-size: g.$font-size-small;
    }

    &__form {
        margin-top: g.$margin-section-y;

        &__current-password {
            margin-top: g.$margin-section-y;

            &__input {
                display: block;
                width: 100%;
                margin-top: g.$margin-label-y;
            }

            &__error {
                margin-top: g.$margin-y;
            }
        }

        &__new-password {
            margin-top: g.$margin-section-small-y;

            &__input {
                display: block;
                width: 100%;
                margin-top: g.$margin-label-y;
            }

            &__error {
                margin-top: g.$margin-y;
            }
        }

        &__confirm-password {
            margin-top: g.$margin-section-small-y;

            &__input {
                display: block;
                width: 100%;
                margin-top: g.$margin-label-y;
            }

            &__error {
                margin-top: g.$margin-y;
            }
        }

        &__submit {
            display: flex;
            justify-content: end;
            align-items: center;
            margin-top: g.$margin-section-y;

            &__register {
                margin-left: g.$margin-x;
            }
        }
    }
}
