@use '../../global/' as g;

.c-animation-poyoyon {
    animation: poyoyon 0.5s cubic-bezier(0.12, 0, 0.39, 0) 1 forwards;
}

@keyframes poyoyon {
    0% {
        transform: translateY(140px);
        opacity: 0;
    }
    50% {
        transform: translateY(0);
    }
    65% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0);
    }
    20%,100% {
        opacity: 1;
    }
}
