@use '../../global/' as g;

.c-primary-button {
    display: inline-flex;
    align-items: center;
    padding: g.$padding-button-y g.$padding-button-x;
    border-radius: g.$border-radius;
    background-color: g.$color-button;
    color: g.$color-text-reversal;
}
